.title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.hero__title {
    color: var(--main-background);
    width: 696px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
}
.section-title {
    margin-bottom: 50px;

    color: var(--second-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.benefits__title {
    color: var(--second-color);
}
.ptf-title {
    margin-bottom: 4px;

    color: var(--second-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    margin-bottom: 12px;
}